.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.scrollable-menu {
    height: auto;
    width: 6px;
    max-height: 200px;
    overflow-x: hidden;
}

.statesDD:hover {
  background-color: #dbe7f9;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    margin: 10px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.tab {
  display: none;
}


.grid {
  display: grid;
}

.main {
    grid-template-columns: 80% 20%;
}

.issues {
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25px 2em 20em;
  grid-gap: 4px;
}

.dashboard {
  grid-column-start: 1;
}

.navs {
  grid-column-start: 2;
}

.reports {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.report-button {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-radius: 30px;
  height: 3em;
  width: 8em;
}

.reports-list {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.scheduled {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.schedule-button {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border-radius: 30px;
  height: 3em;
  width: 8em;
}

.scheduled-list {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.ip {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.supplies-button {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  border-radius: 30px;
  height: 3em;
  width: 8em;
}

.ip-list {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.fixed {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.fixed-list {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

.input {
  width: 80%;
  display: block;
  margin: 20px;
}

.report-title div{
  display: none;
}

.report-title:hover > div {
  display: block;
}

.scheduled-title div{
  display: none;
}

.scheduled-title:hover > div {
  display: block;
}

.ip-title div{
  display: none;
}

.ip-title:hover > div {
  display: block;
}

.fixed-title div{
  display: none;
}

.fixed-title:hover > div {
  display: block;
}






.upload {
  position:relative;
  overflow:hidden
}

.upload, .upload *, .upload :after, .upload :before, .upload:after, .upload:before {
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-transition:none;
  transition:none;-webkit-user-select:none!important;
  -moz-user-select:none!important;
  -ms-user-select:none!important;
  user-select:none!important
}

.upload-input {
  position:absolute;top:0;right:0;bottom:0;left:0;z-index:-1px;opacity:0;pointer-events:none
}

.upload-target {
  cursor:pointer
}

.upload-disabled .fs-upload-target,.no-touch .fs-upload-disabled:hover .fs-upload-target {
  cursor:default;
  cursor:not-allowed
}