.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    margin: 10px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}




.grid {
  display: grid;
}

.main {
    grid-template-columns: 80% 20%;
}

.issues {
  grid-template-columns: 25% 25% 25% 25%;
}

.dashboard {
  grid-column-start: 1;
}

.navs {
  grid-column-start: 2;
}

.reports {
  grid-area: header;
  grid-column-start: 1;
  vertical-align: top;
}

/*.reports-body {
  grid-area: content;
  grid-column-start: 1;
  width: 70px;
}*/

.scheduled {
  grid-area: header;
  grid-column-start: 2;
  vertical-align: top;
}

.ip {
  grid-area: header;
  grid-column-start: 3;
  vertical-align: top;
}

.fixed {
  grid-area: header;
  grid-column-start: 4;
  vertical-align: top;
}

.input {
  width: 80%;
  display: block;
  margin: 20px;
}